name: update-sources
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  update-sources:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: ./update
      - run: "git config user.email 0xbigboss@users.noreply.github.com"
      - run: "git config user.name tilt-overlay"
      - run: "git add -A"
      - run: "git commit -m 'update sources.json' || true"
      - run: "git push -u origin main"
